<div ng-controller="form_new_round_p">
  <h3>Inserir nova rodada</h3>
  <form ng-submit="submitForm()">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>home</th>
          <th></th>
          <th>away</th>
        </tr>
      </thead>
      <tr ng-repeat="match in matches">
        <td>
          <select ng-model="home[match]" class="form-control" ng-options="option for option in teams" required>
            <option value=""></option>
          </select>
        </td>
        <td class="text-center">x</td>
        <td>
          <select ng-model="away[match]" class="form-control" ng-options="option for option in teams" required>
            <option value=""></option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><input type="submit" id="i_bt_submit" class="btn btn-default"></td>
      </tr>
    </table>
  </form>
</div>
