<!doctype html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link type="text/css" href="/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="/libs/angular/ui-grid/ui-grid.css" rel="stylesheet" />
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular/angular-touch.js"></script>
    <script src="/libs/angular/angular-animate.js"></script>
    <script src="/libs/angular/angular-resource.js"></script>
    <script src="/libs/angular/bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/libs/angular/ui-grid/ui-grid.js"></script>
    <script src="/libs/angular/angular-chart/Chart.js"></script>
    <script src="/libs/angular/angular-chart/angular-chart.js"></script>
    <script src="angular-apiphp.js"></script>
    <script src="angular-menu.js"></script>
    <script>
      // create the app
      angular.module('app', ['ngAnimate', 'ngTouch', 'ui.grid', 'chart.js', 'ngApiphp', 'ngMenu']);

      // angular $location must be in html5mode or the the links wont work
      angular.module('app').config(function($locationProvider) {
        $locationProvider.html5Mode({enabled: true, requireBase: false});
      });

      // add some pages to the menu
      angular.module('app').config(function($menuProvider) {
        $menuProvider.add({name: 'Default', class: 'success'});
        $menuProvider.add({name: 'Home', href: 'home_p'});
        $menuProvider.add({name: 'Usuarios', class: 'info'});
      });

      // main controller
      angular.module('app').controller('MainCtrl', function ($scope, $location, $menu) {
        console.log("MainCtrl");
        $scope.$menu = $menu;
        $scope.partialPath = 'home_p.html';

        // this simple watch will "route" any location changes to a partial
        // which will be rendered on the ngInclude DIV
        // we did not use ngRoute and ngView because they can only be 
        $scope.$watch(function() {return $location.hash()}, function(hash) {
          if(hash) {
            $scope.partialPath = hash + '.html';
          }
        });
      });
    </script>
    <script src="table_ranking_p.js"></script>
    <script src="chart_ranking_p.js"></script>
    <script src="table_bets_p.js"></script>
    <script src="table_scores_p.js"></script>
    <script src="table_missing_p.js"></script>
    <script src="form_bet_round_p.js"></script>
    <script src="form_apply_p.js"></script>
    <script src="form_score_round_p.js"></script>
    <script src="form_score_match_p.js"></script>
    <script src="form_new_round_p.js"></script>
    <script src="form_approve_p.js"></script>

  </head>
  <body ng-controller="MainCtrl">
    <div class="container">
      <div class="col-xs-3">
        <div class="list-group">
          <div ng-repeat="item in $menu.list()" ng-class="'list-group-item' + (item.class ? ' list-group-item-' + item.class : '')">
            <span ng-if="! item.href">{{item.name}}</span>
            <a ng-if="item.href" ng-href="#{{item.href}}">{{item.name}}</a>
          </div>
        </div>
      </div>
      <div class="col-xs-9" ng-include="partialPath" autoscroll></div>
    </div>
  </body>
</html>
